
<mat-card class="login">
    <mat-card-title class="mat-card-title">Online Shopping </mat-card-title>
    <mat-card-content class="mat-card-content">
        <form formGroup="myForm">
            <mat-form-field >
              <input matInput placeholder="Enter Username">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Enter your password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
          </form>
    </mat-card-content>
    <mat-card-footer>
        <mat-card-actions class="button">
            <button mat-button color="primary">Login</button>
            <button mat-raised-button color="primary" (click)="signUp()">SignUp </button>
        </mat-card-actions>
    </mat-card-footer>
</mat-card>
