
<mat-card class="login">
    <mat-card-title class="mat-card-title">Register </mat-card-title>
    <mat-card-content class="mat-card-content">
        <form [formGroup] = "">
            <mat-form-field >
              <input matInput placeholder="Enter Username">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Enter your email</mat-label>
                <input matInput placeholder="pat@example.com" [formControl]="email" required>
                <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
            <mat-form-field >
                <input matInput placeholder="Password">
            </mat-form-field>
            <mat-form-field >
                <input matInput placeholder="Confirm Password">
            </mat-form-field>
          </form>
    </mat-card-content>
    <mat-card-footer>
        <mat-card-actions class="button">
            <button mat-raised-button color="primary">Register </button>
            <button mat-button color="primary" (click)="login()">Login</button>
        </mat-card-actions>
    </mat-card-footer>
</mat-card>
