
      :host {
        display: flex;
        justify-content: center;
        margin: 100px 50px;
      }

      .mat-form-field {
        width: 100%;
        min-width: 200px;
      }

      mat-card-title,
      mat-card-content {
        display: flex;
        justify-content: center;
      }

      .error {
        padding: 16px;
        width: 300px;
        color: white;
        background-color: red;
      }

      .button {
        display: flex;
        float: right;
        padding-right: 30px;
        justify-content: flex-start;
      }